@using EternalElegance.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<main aria-labelledby="title" class="register-main">
    <div class="row justify-content-center">
        <div id="marginA" class="col-md-6">
            <section id="registerForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="frm">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-3 col-form-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Name, new { @class = "fc", placeholder = "Name" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="frm">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 col-form-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "fc", placeholder = "LastName" })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="frm">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 col-form-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "fc", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="frm">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 col-form-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "fc", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="frm">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 col-form-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "fc", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="frm">
                        <div class="offset-md-3 col-md-9">
                            <input type="submit" value="Register" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                    <p class="text-center">
                        @Html.ActionLink("Already have an account? Log in", "Login", null, new { @class = "btn btn-link" })
                    </p>
                }
            </section>
        </div>
    </div>
</main>

<style>
    #marginA {
        margin: auto;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
